/*
 * Author: graffatcolmingov
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

#TabsToolbar {
  background: #ffffff !important;
  -moz-box-shadow: none !important;
}

.tabbrowser-tabs {
  background-color: #fff !important;
  border: transparent !important;
  color: #999 !important;
  font-size: 12px;
  font-weight: normal;
  height: 12px !important;
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 0.5ex !important;
  -moz-appearance: none !important;
  -moz-border-radius: 0 !important;
  -moz-tab-size: 5 !important;
}

.tabbrowser-tabs:hover {
  background: #999 !important;
  color: #fff !important;
}

.tabbrowser-tabs[selected] {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold;
  -moz-tab-size: 15 !important;
}

/* New tab button */

/*
.tabs-newtab-button {
  display: none;
}
*/

/* Tab listing */

#alltabs-button {
  -moz-appearance: none !important;
  border: none !important;
}

#alltabs-button:hover {
  background-color: #999999 !important;
}

/* Panorama button */

#tabview-button {
  -moz-appearance: none !important;
  border: none !important;
}

#tabview-button:hover {
  background-color: #999999 !important;
}
